$color-blue-1: rgb(0, 0, 255);
$color-orange-1: rgba(255, 102, 0, 0.647);
$color-white-1: white;

.container{
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

.GlassDetail{
    .left{
        .content{
            background-color: $color-orange-1;
            h2{
                color: $color-blue-1;
            }
            p{
                color: $color-white-1;
            }
        }
    }
}
