.ListGlass{
    margin-top: 20px;
    background-color: white;
    padding-block: 50px;
    img{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 80%;
        transition: 0.3s;
        &:hover{
            transform: translateY(-5px);
            background-color: rgba(105, 218, 126, 0.2);
            cursor: pointer;
        }
    }
}
